<%= form_for :trip, url: trips_path, html: { multipart: true } do |f| %>

  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@trip.errors.count, "error") %> prohibited
        this trip from being saved:
      </h2>
      <ul>
        <% @trip.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label "Место отправления" %><br>
    <%= f.text_field :start_location %>
  </p>

  <p>
    <%= f.label "Место прибытия" %><br>
    <%= f.text_field :finish_location %>
  </p>

  <p>
    <%= f.label "Дата и время отправления" %><br>
    <%= f.datetime_select :start_time %>
  </p>

  <p>
    <%= f.label "Цена за место" %><br>
    <%= f.text_field :price %>
  </p>

  <p>
    <%= f.submit "Создать поездку"%>
  </p>
<% end %>

<p>
  <%= link_to 'Назад', trips_path %>
</p>