<p>Место отправления:
  <%= @trip.start_location %>
</p>

<p>Место прибытия:
  <%= @trip.finish_location %>
</p>

<p>Дистанция:
  <%= @trip.distance %> km
</p>

<p>Врема отправления:
  <%= @trip.start_time.to_formatted_s(:short) %>
</p>

<p>Время прибытия:
  <%= @trip.finish_time.to_formatted_s(:short) %>
</p>

<p>Продолжительность поездки:
  <%= Time.at(@trip.duration).utc.strftime("%H:%M") %>
</p>

<p>Цена:
  <%= @trip.price %>
</p>

<p>
  <%= render 'map' %>
</p>

<p>
  <%= link_to 'Удалить поездку', trip_path(@trip), method: :delete, data: { confirm: 'Are you sure?' } %>
</p>

<p>
  <%= link_to 'Назад', trips_path %>
</p>