<h3>TRIP</h3>

<p>Start Location:
  <%= @trip.start_location %>
</p>

<p>Finish Location:
  <%= @trip.finish_location %>
</p>

<p>Distance:
  <%= @trip.distance %>
</p>

<p>Start Time:</p>

<p>Finish Time:</p>

<p>Duration:</p>

<p>Price:
  <%= @trip.price %>
</p>

<p>
  <%= render 'map' %>
</p>

<p>
  <%= link_to 'Delete', trip_path(@trip), method: :delete, data: { confirm: 'Are you sure?' } %>
</p>

<p>
  <%= link_to 'Back', trips_path %>
</p>
