<h3>TRIP</h3>

<p>Start Location:
  <%= @trip.start_location %>
</p>

<p>Finish Location:
  <%= @trip.finish_location %>
</p>

<p>Distance:
  <%= @trip.distance %> km
</p>

<p>Start Time:
  <%= @trip.start_time.to_formatted_s(:short) %>
</p>

<p>Finish Time:
  <%= @trip.finish_time.to_formatted_s(:short) %>
</p>

<p>Duration:
  <%= Time.at(@trip.duration).utc.strftime("%H:%M") %>
</p>

<p>Price:
  <%= @trip.price %>
</p>

<p>
  <%= render 'map' %>
</p>

<p>
  <%= link_to 'Delete', trip_path(@trip), method: :delete, data: { confirm: 'Are you sure?' } %>
</p>

<p>
  <%= link_to 'Back', trips_path %>
</p>