<%= render 'shared/account_left_side', params: navigation_params.merge(trip: true) %>
<div class='col-xs-12 col-sm-9'>
  <ul class="nav nav-tabs nav-justified">
    <li role="presentation" class="active"><%= link_to 'Мои поездки', account_trips_path %></li>
    <li role="presentation"><a href="#">Мои бронирования</a></li>
  </ul>
  <br>
  <ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active"><a href="#">Актуальные<span class="badge">42</span></a></li>
    <li role="presentation"><a href="#">Архив <span class="badge">3</span></a></li>
  </ul>
  <br>
  <% @trips.each do |trip| %>
    <div class="row marketing">
        <div class="col-md-2">
          <h3><%= avatar_for(trip.user, { size: 100 }) %></h3>
          <p><%= link_to "#{trip.user.first_name}", edit_account_profile_path %>
        </div>
        <div class="col-md-8">
          <h4><%= link_to "#{trip.start_location} => #{trip.finish_location}", account_trip_path(trip) %></h4>
          <div class="row">
            <div class="col-md-6">Место отправления: <%= trip.start_location %></div>
            <div class="col-md-6">Дистанция: <%= trip.distance %> km</div>
            <div class="col-md-6">Место прибытия: <%= trip.finish_location %></div>
            <div class="col-md-6">Продолжительность поездки: <%= Time.at(trip.duration).utc.strftime("%H:%M") %></div>
            <i><div class="col-md-6">Время отправления: <%= trip.start_time.to_formatted_s(:short) %></div></i>
          </div>
        </div>
        <div class="col-md-2" >
          <h3><%= trip.price %> грн</h3>
        </div>
    </div>
    <hr>
  <% end %>
  <br>
  <span>
    <h3><%= link_to 'Добавить поездку', new_account_trip_path, class: 'label label-primary' %></h3>
  </span>
</div>

