<!DOCTYPE html>
<html>
  <head>
    <title>Findtrip</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">FindTrip</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <% if user_signed_in? %>
                <span><%= link_to 'Панель управления', admin_control_path %></span>
                <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
            <% else %>
                <div class="btn-group" role="group">
                  <%= link_to 'Войти', new_user_session_path %>
                </div>
                <div class="btn-group" role="group">
                  <%= link_to 'Регистрация', new_user_registration_path %>
                </div>
            <% end %>
          </form>
        </div>
      </div>
      <div class="masthead">
        <nav class="navbar navbar-default">
          <ul class="nav nav-pills">
            <li><%= link_to 'Главная', root_path %></a></li>
            <li><a href="#">Блог</a></li>
            <li><a href="#">О нас</a></li>
            <li><a href="#">Отзывы</a></li>
          </ul>
        </nav>
      </div>
    </nav>
    <div class="container">
      <%= render 'shared/alert' %>
      <%= yield %>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>